NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=unej_feb

JWT_ACCESS_SECRET=someSecret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=someSecret
JWT_REFRESH_EXPIRES_IN=14d

CACHE_ENABLED=false
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=